:root.theme-dark {
  --title-font-weight: 785;
  --paragraph-font-weight: 465;
  --text-color: #00CC14;
  --background-color: #000000;
  --background-gradient-top: #007F0C;
  --background-gradient-bottom: #004306;
  --background-gradient-transparent: #000000;
  --background-gradient-image: 
    repeating-linear-gradient(to right, var(--background-gradient-transparent) 0 2px, transparent 2px 4px), 
    repeating-linear-gradient(to bottom, var(--background-gradient-transparent) 0 2px, transparent 2px 4px), 
    repeating-linear-gradient(to bottom, var(--background-gradient-top) 0.01%, var(--background-gradient-bottom));
  --accent-color: #00CC14;
  --hover-text-button: #00CC14;
  --floppy-accent: #00CC14;
  --border-watermark: #000000;
}

:root.theme-light {
  --title-font-weight: 700;
  --paragraph-font-weight: 400;
  --text-color: #000000;
  --background-color: #FFFFFF;
  --background-gradient-top: #E7E7E7;
  --background-gradient-bottom: #1A1A1A;
  --background-gradient-transparent: #d3d3d3;
  --background-gradient-image: 
    repeating-linear-gradient(to right, var(--background-gradient-transparent) 0 2px, transparent 2px 4px), 
    repeating-linear-gradient(to bottom, var(--background-gradient-transparent) 0 2px, transparent 2px 4px), 
    repeating-linear-gradient(to bottom, var(--background-gradient-top) 0.01%, var(--background-gradient-bottom));
  --accent-color: #000000;
  --hover-text-button: #FFFFFF;
  --floppy-accent: #FFFFFF;
  --border-watermark: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-font-weight: 785;
    --paragraph-font-weight: 465;
    --text-color: #00CC14;
    --background-color: #000000;
    --background-gradient-top: #007F0C;
    --background-gradient-bottom: #004306;
    --background-gradient-transparent: #000000;
    --background-gradient-image: 
      repeating-linear-gradient(to right, var(--background-gradient-transparent) 0 2px, transparent 2px 4px), 
      repeating-linear-gradient(to bottom, var(--background-gradient-transparent) 0 2px, transparent 2px 4px), 
      repeating-linear-gradient(to bottom, var(--background-gradient-top) 0.01%, var(--background-gradient-bottom));
    --accent-color: #00CC14;
    --hover-text-button: #00CC14;
    --floppy-accent: #00CC14;
    --border-watermark: #000000;
  }
}
